%h1 Listing settings

%table
  %tr
    %th Station
    %th Notice at
    %th
    %th
    %th

  - @settings.each do |setting|
    %tr
      %td= setting.station
      %td= setting.notice_at.strftime("%H:%M")
      %td= link_to 'Show', setting
      %td= link_to 'Edit', edit_setting_path(setting)
      %td= link_to 'Destroy', setting, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Setting', new_setting_path
= link_to "Sign out", destroy_user_session_path, :method => :delete