%p#notice= notice

%p
  %b Station:
  -#= Setting.prefecture_index_show(@setting.station)
  = @setting.station
  = @pref
%p
  %b Notice at:
  = @setting.notice_at.strftime("%H:%M")

= link_to 'Edit', edit_setting_path(@setting)
\|
= link_to "Sign out", destroy_user_session_path, :method => :delete
